@import '../../../vars.scss';

.wrapper {
    height: 60px;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10rem;
    text-decoration: none;
    background-color: $color-quaternary;
    background-color: $brown-primary;
    color: $text-light;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    button{
        &:hover {
            filter: brightness(0.9);
        }
        cursor: pointer;
        background: transparent;
        border: 0;
        svg{
            color: $text-light;
            width: 40px;
            height: 40px;
        }
       
    }
    display: none;
}