@import '../../vars.scss';

.header {
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $orange-secondary;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
    
    .headerContent{
        padding: 14px;
        width: 100%;
        height: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        .menu{
            font-size: 40px;
            width: 50px;
            height: 50px;
            justify-self: center;
            align-self: center;
            color: $brown-primary;
        }
    }
    
    .separatorLeft {
        display: none;
        @media (min-width: 678px) {
            display: flex;
            
        }
    }
    .separatorRigth {
        display: flex;
        align-items: center;       
    }


}