$color-primary: #036B52;
$color-secondary: #2FC18C;
$color-tertiary: #421981;
$color-quaternary: #056CF9;

$text-light: #F2FFFC;
$text-dark: #001813;


$backgroud: #f6f3f0;
$brown-primary: #361d06;
$brown-secondary: #9c8f80;
$color-primary: #f1892d;
$orange-secondary: #f6ab32;
$blue-primary: #0a1fad;

