@import '../../../vars';

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  height: 200px;

  input{
    border: 0;
    outline: none;
    width: 100%;
    height: 35px;
    padding: 6px 8px;
    &::-moz-placeholder{
      opacity: 0.9;
    }
  }

  button{
    background: transparent;
    border: 0;
    width: 100%;
    height: 35px;
    background-color: $brown-primary;
    color: $text-light;
    border-radius: 2px;
  }
}

